.shadow {
    position: absolute;
    margin-top: 2px;
    box-shadow: none !important;
}

.hover {
    border-radius: 50px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    cursor: pointer;
    height: 50px;
    position: absolute;
    width: 50px;
}

.clip {
    background-color: #fff;
    border-radius: 50px;
    clip-path: polygon(0% 0%, 0% 52.447069%, 30.844539% 52.447%, 30.844539% 50.237396%, 30.844539% 48.027791%, 30.844539% 45.818186%, 30.844539% 43.608582%, 31.074905% 42.257032%, 31.65035% 40.866508%, 32.397397% 39.609496%, 33.142567% 38.658487%, 35.677378% 36.327021%, 39.127089% 33.663669%, 43.075878% 30.89027%, 47.107926% 28.228662%, 48.519882% 27.751201%, 50.433213% 27.58916%, 52.319085% 27.746871%, 53.648664% 28.228662%, 57.127578% 30.883904%, 60.932631% 33.942292%, 64.454458% 36.928097%, 67.083693% 39.365593%, 67.93372% 40.373944%, 68.477633% 41.419308%, 68.766519% 42.631058%, 68.851461% 44.138564%, 68.851461% 48.469673%, 68.851461% 52.800782%, 68.851461% 57.131891%, 68.851461% 61.463%, 68.394148% 63.593607%, 67.234211% 65.271838%, 65.689655% 66.371396%, 64.078489% 66.765981%, 62.752664% 66.765981%, 61.426839% 66.765981%, 60.101013% 66.765981%, 58.775188% 66.765981%, 57.551799% 66.396236%, 56.538683% 65.455904%, 55.848324% 64.198338%, 55.593208% 62.876894%, 55.593208% 61.595263%, 55.593208% 60.313632%, 55.593208% 59.032001%, 55.593208% 57.75037%, 55.372582% 56.844737%, 54.769169% 56.243166%, 53.870669% 55.909062%, 52.764781% 55.805826%, 51.262179% 55.805826%, 49.759577% 55.805826%, 48.256975% 55.805826%, 46.754373% 55.805826%, 45.512872% 56.016456%, 44.683926% 56.588476%, 44.22729% 57.432085%, 44.102723% 58.457477%, 44.119797% 59.641849%, 44.1179% 60.911742%, 44.108414% 62.368716%, 44.102723% 64.114331%, 43.898513% 65.255375%, 43.351924% 66.213805%, 42.562016% 66.873799%, 41.627849% 67.119535%, 40.257829% 67.119535%, 38.88781% 67.119535%, 37.517791% 67.119535%, 36.147771% 67.119535%, 34.388618% 66.605533%, 32.669023% 65.277485%, 31.362995% 63.456329%, 30.844539% 61.463%, 30.844539% 59.209%, 30.844539% 56.955%, 30.844539% 54.701%, 30.844539% 52.447%, 0% 52.447%, 0% 100%, 100% 100%, 100% 0%);
    height: 50px;
    position: absolute;
    width: 50px;
}

.hover:hover .clip {
    background-color: #f8f8f8;
}

.hover:active {
    margin-top: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 1px 3px rgba(0, 0, 0, 0.23);
}

//.container {
//    clip-path: circle(40px at 45px 50%);
//    height: 40px;
//    overflow: hidden;
//    position: relative;
//    width: 40px;
//}
